= haml :introduction, :layout => false

= haml :sidebar, :layout => false

= haml :structure, :layout => false

= haml :installing_ruby_on_windows, :layout => false

= haml :what_editors_windows, :layout => false

= haml :the_path_windows, :layout => false

= haml :authors, :layout => false

= haml :cc, :layout => false

= haml :inspiration, :layout => false

= haml :other_resources, :layout => false